.card-sell-product {
  background-color: var(--light-brown-color);
  max-width: 41.09rem;
  min-height: 55.77rem;
  padding: 4rem;
  border-radius: 6.7rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 2.5rem;
}

.sell-text-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.sell-text-section p {
  margin-bottom: 5rem;
  font-weight: 500;
}

.sell-buttons-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card-sell-product button {
  margin-bottom: 1rem;
  font-weight: bold;
}
