
.menu {
  background-color: var(--light-brown-color);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 8rem;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}
.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: var(--white-color);
  transition: all 250ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 0.5rem;
}

.user-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
}

button .link {
  border: none;
  color: var(--light-brown-color);
  font-family: Inter;
  height: 2rem;
}

.link:hover {
  font-size: 1.9rem;
  transition: all 150ms ease-in-out;
}

.user-profile button {
  border: none;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-brown-color);
  cursor: pointer;
  transition: 200ms;
}

.user-profile button:hover {
  background-color: var(--light-brown-color);
  border: 1px solid var(--white-color);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
