.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.main-container h2 {
  color: var(--light-brown-color);
}

.cart-container {
  margin-top: 2rem;
  min-height: 50vh;
  background-color: var(--very-light-brown-color);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.subtotal-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
}

.payment-data {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  margin-bottom: 3rem;
}


.payment-data p {
  color: black;
}
