.grid-search {
  background-color: var(--light-brown-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;
  margin-top: 6rem;
  border-radius: 4rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.text-search {
  margin: 8rem;
}

.img-search {
  width: 15rem;
  height: 15rem;
}

.search-text-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.search-text-container h2 {
  color: var(--white-color);
}

.icon-input-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.most-buyed-container {
  max-width: 128rem;
  margin: 10rem auto;
}

.most-buyed-container h2, h3 {
  color: var(--light-brown-color);
  margin-bottom: 8rem;
}
