:root {
  --white-color: #fff;
  --black-color: #000;
  --light-brown-color: #CBAF85;
  --light-gray-color: #F0F0F0;
  --gray-color: gray;
  --very-light-brown-color: #FAF2E7;
}

@font-face {
  font-family: Heebo;
  src: url('fonts/Heebo-VariableFont_wght.ttf');
}

@font-face {
  font-family: Josefin;
  src: url('fonts/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter;
  font-size: 1.6rem;
  color: var(--white-color);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
}

h1 {
  font-size: 9rem;
  font-family: Josefin;
  font-weight: bold;
}

h2 {
  font-size: 7rem;
  font-family: Josefin;
  font-weight: bold;
}

h3 {
  font-size: 5rem;
  font-family: Josefin;
  color: var(--light-brown-color);
  font-weight: bold;
}

h4 {
  font-size: 3rem;
  font-family: Josefin;
  font-weight: bold;
}

a {
  text-decoration: none;

}

button {
  background-color: var(--white-color);
  color: var(--light-brown-color);
}

a:link {
  color: var(--white-color);
}

a:visited {
  color: var(--white-color);
}

input {
  outline: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem;
  width: 30rem;
  border: 1px solid rgb(150, 150, 150);
  background-color: var(--white-color);
  transition: 0.2s;
}

input:focus {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--light-brown-color);
}

label {
  display: block;
  margin-bottom: 1rem;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  background-color: var(--light-brown-color);
}

.minor-section {
  min-height: 50vh;
}

.white-bg {
  min-height: 100vh;
  background-color: var(--white-color);
  color: black;
}

button:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.white-btn {
  background-color: var(--white-color);
  color: var(--light-brown-color);
  border-radius: 1rem;
  border: none;
  min-width: 30rem;
  height: 4rem;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  font-size: 1.7rem;
}

.brown-btn {
  background-color: var(--light-brown-color);
  color: var(--white-color);
  min-width: 30rem;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  font-size: 1.7rem;
  font-weight: bold;
}
